In [7]:
import numpy as np

In [8]:
list1 = [0,1,2,3,4]

In [10]:
list1

[0, 1, 2, 3, 4]

In [11]:
arr1d = np.array(list1)

In [12]:
arr1d

array([0, 1, 2, 3, 4])

In [13]:
list1.append(5)

In [14]:
list1

[0, 1, 2, 3, 4, 5]

In [15]:
list1 + 2

TypeError: can only concatenate list (not "int") to list

In [16]:
arr1d + 2

array([2, 3, 4, 5, 6])

In [17]:
list2 = [[1, 1, 1], [2, 2 ,2], [3, 3, 3]]
arr2d = np.array(list2)

In [19]:
type(arr2d)

numpy.ndarray

In [20]:
arr2d.dtype

dtype('int32')

In [21]:
arr2d = np.array(list2, dtype = 'float')

In [22]:
arr2d

array([[1., 1., 1.],
       [2., 2., 2.],
       [3., 3., 3.]])

In [25]:
arr2d = arr2d.astype('int')

In [26]:
arr2d.astype('str')

array([['1', '1', '1'],
       ['2', '2', '2'],
       ['3', '3', '3']], dtype='<U11')

In [30]:
list1.append('6')

In [31]:
list1

[0, 1, 2, 3, 4, 5, '6']

In [32]:
np2list = arr2d.tolist()

In [33]:
np2list

[[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [34]:
arr2d.tostring()

b'\x01\x00\x00\x00\x01\x00\x00\x00\x01\x00\x00\x00\x02\x00\x00\x00\x02\x00\x00\x00\x02\x00\x00\x00\x03\x00\x00\x00\x03\x00\x00\x00\x03\x00\x00\x00'

In [35]:
arr2d.tobytes()

b'\x01\x00\x00\x00\x01\x00\x00\x00\x01\x00\x00\x00\x02\x00\x00\x00\x02\x00\x00\x00\x02\x00\x00\x00\x03\x00\x00\x00\x03\x00\x00\x00\x03\x00\x00\x00'

# dtype and shape

In [36]:
list2

[[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [38]:
arr2d = arr2d.astype('float' )

In [39]:
arr2d

array([[1., 1., 1.],
       [2., 2., 2.],
       [3., 3., 3.]])

In [40]:
print('Shape: ', arr2d.shape) # python3

Shape:  (3, 3)

In [41]:
arr2d.dtype

dtype('float64')

In [43]:
arr2d.size

9

In [44]:
arr1d.size

5

In [45]:
arr2d.ndim

2

In [46]:
arr1d.ndim

1

In [50]:
arr1d = arr1d * arr1d

In [51]:
arr1d

array([ 4,  9,  0,  1, 36], dtype=int32)

In [55]:
arr1d[1]

9

In [60]:
arr2d[1][0] #[R][C]

2.0

In [59]:
arr2d

array([[1., 1., 1.],
       [2., 2., 2.],
       [3., 3., 3.]])

In [61]:
boolarr = arr2d<3

In [62]:
boolarr

array([[ True,  True,  True],
       [ True,  True,  True],
       [False, False, False]])

In [63]:
arr2d[boolarr]

array([1., 1., 1., 2., 2., 2.])

In [64]:
arr2d

array([[1., 1., 1.],
       [2., 2., 2.],
       [3., 3., 3.]])

In [65]:
arr2d[::-1, ]

array([[3., 3., 3.],
       [2., 2., 2.],
       [1., 1., 1.]])

In [66]:
arr2d[::-1, ::-1]

array([[3., 3., 3.],
       [2., 2., 2.],
       [1., 1., 1.]])

## np.nan, np.inf

In [67]:
np.nan

nan

In [68]:
np.inf

inf

In [69]:
arr2d

array([[1., 1., 1.],
       [2., 2., 2.],
       [3., 3., 3.]])

In [70]:
arr2d[0][0] = np.nan
arr2d[0][1] = np.inf
arr2d

array([[nan, inf,  1.],
       [ 2.,  2.,  2.],
       [ 3.,  3.,  3.]])

In [71]:
np.isnan(arr2d)

array([[ True, False, False],
       [False, False, False],
       [False, False, False]])

In [72]:
np.isinf(arr2d)

array([[False,  True, False],
       [False, False, False],
       [False, False, False]])

In [73]:
missing_flag = np.isnan(arr2d) | np.isinf(arr2d)
missing_flag

array([[ True,  True, False],
       [False, False, False],
       [False, False, False]])

In [74]:
#replace inf and nan with 0

In [75]:
arr2d[missing_flag]

array([nan, inf])

In [76]:
arr2d[missing_flag] = 0

In [77]:
arr2d

array([[0., 0., 1.],
       [2., 2., 2.],
       [3., 3., 3.]])

# Statistical operations

In [78]:
#mean, std, var

In [79]:
arr2d.mean()

1.7777777777777777

In [80]:
arr2d.max()

3.0

In [81]:
arr2d.min()

0.0

In [82]:
arr2d.std()

1.1331154474650633

In [83]:
arr2d.var()

1.2839506172839505

In [85]:
arr2d.squeeze()

array([[0., 0., 1.],
       [2., 2., 2.],
       [3., 3., 3.]])

In [86]:
arr2d.cumsum()

array([ 0.,  0.,  1.,  3.,  5.,  7., 10., 13., 16.])

In [87]:
arr2d

array([[0., 0., 1.],
       [2., 2., 2.],
       [3., 3., 3.]])

In [88]:
arr = arr2d[:2, :2]

In [89]:
arr

array([[0., 0.],
       [2., 2.]])

In [91]:
arr2d[1:3, 1:2]

array([[2.],
       [3.]])

In [92]:
arr2d

array([[0., 0., 1.],
       [2., 2., 2.],
       [3., 3., 3.]])

In [101]:
a = arr2d.reshape(1,9)
a

array([[0., 0., 1., 2., 2., 2., 3., 3., 3.]])

In [100]:
a.ndim

2

In [95]:
arr2d.reshape(9,1)

array([[0.],
       [0.],
       [1.],
       [2.],
       [2.],
       [2.],
       [3.],
       [3.],
       [3.]])

In [105]:
a = arr2d.flatten()
a #copy

array([0., 0., 1., 2., 2., 2., 3., 3., 3.])

In [106]:
b = arr2d.ravel()
b #reference

array([0., 0., 1., 2., 2., 2., 3., 3., 3.])

In [107]:
arr2d

array([[0., 0., 1.],
       [2., 2., 2.],
       [3., 3., 3.]])

In [109]:
b[0] = -1

In [110]:
arr2d

array([[-1.,  0.,  1.],
       [ 2.,  2.,  2.],
       [ 3.,  3.,  3.]])

# sequence, repetitions, and random numbers

In [116]:
np.arange(1, 5, dtype = 'int')

array([1, 2, 3, 4])

In [118]:
np.arange(1, 50, 2)

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33,
       35, 37, 39, 41, 43, 45, 47, 49])

In [123]:
np.linspace(1, 50, 9)

array([ 1.   ,  7.125, 13.25 , 19.375, 25.5  , 31.625, 37.75 , 43.875,
       50.   ])

In [124]:
np.logspace(1, 50, 10)

array([1.00000000e+01, 2.78255940e+06, 7.74263683e+11, 2.15443469e+17,
       5.99484250e+22, 1.66810054e+28, 4.64158883e+33, 1.29154967e+39,
       3.59381366e+44, 1.00000000e+50])

In [126]:
np.zeros([2,2])

array([[0., 0.],
       [0., 0.]])

In [127]:
np.ones([2, 2])

array([[1., 1.],
       [1., 1.]])

In [128]:
a = [1, 2, 3]

In [129]:
a

[1, 2, 3]

In [130]:
np.tile(a, 3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

In [131]:
np.repeat(a, 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [132]:
np.repeat(arr2d, 3)

array([-1., -1., -1.,  0.,  0.,  0.,  1.,  1.,  1.,  2.,  2.,  2.,  2.,
        2.,  2.,  2.,  2.,  2.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,
        3.])

In [133]:
arr2d

array([[-1.,  0.,  1.],
       [ 2.,  2.,  2.],
       [ 3.,  3.,  3.]])

In [139]:
np.random.rand(3, 3)

array([[0.03022941, 0.4897838 , 0.48808364],
       [0.06658789, 0.25569082, 0.30411541],
       [0.65788261, 0.16300932, 0.61885932]])

In [138]:
np.random.randn(3, 3)

array([[-0.95832052, -0.33374875,  0.46566206],
       [-1.04891141,  0.5784687 , -0.1718599 ],
       [ 0.27468945, -0.93154267,  0.65645431]])

In [141]:
np.random.randint(0, 10, [3,3])

array([[6, 4, 0],
       [2, 5, 9],
       [7, 3, 0]])

In [157]:
np.random.seed(1)
np.random.randint(0, 10, [3,3])

array([[5, 8, 9],
       [5, 0, 0],
       [1, 7, 6]])

In [161]:
np.unique(arr2d)

array([-1.,  0.,  1.,  2.,  3.])

In [162]:
arr2d

array([[-1.,  0.,  1.],
       [ 2.,  2.,  2.],
       [ 3.,  3.,  3.]])

In [163]:
uniques, counts = np.unique(arr2d, return_counts= True)

In [164]:
uniques

array([-1.,  0.,  1.,  2.,  3.])

In [165]:
counts

array([1, 1, 1, 3, 3], dtype=int64)

# Numpy Crash Course Part 2

In [166]:
arr = np.array([8,94,8,56,1,3,4,5,7])
print(arr)

[ 8 94  8 56  1  3  4  5  7]

In [167]:
index_gt10 = np.where(arr>10)
index_gt10

(array([1, 3], dtype=int64),)

In [168]:
arr[index_gt10]

array([94, 56])

In [169]:
arr[arr>10]

array([94, 56])

In [170]:
arr>10

array([False,  True, False,  True, False, False, False, False, False])

In [171]:
np.where(arr>10, 'gt10', 'lt10')

array(['lt10', 'gt10', 'lt10', 'gt10', 'lt10', 'lt10', 'lt10', 'lt10',
       'lt10'], dtype='<U4')

In [172]:
arr

array([ 8, 94,  8, 56,  1,  3,  4,  5,  7])

In [173]:
arr.max()

94

In [174]:
arr.argmax()

1

In [176]:
arr[arr.argmin()]

1

In [177]:
arr.argmin()

4

## read and write csv file

In [ ]:
#np.genfromtxt(), np.loadtxt()

In [181]:
data = np.genfromtxt('https://raw.githubusercontent.com/selva86/datasets/master/Auto.csv', delimiter= ',', skip_header= 1, 
              filling_values= -1000, dtype = 'float')

In [184]:
data.shape

(392, 9)

In [186]:
np.set_printoptions(suppress=True)
data[:3]

array([[   18. ,     8. ,   307. ,   130. ,  3504. ,    12. ,    70. ,
            1. , -1000. ],
       [   15. ,     8. ,   350. ,   165. ,  3693. ,    11.5,    70. ,
            1. , -1000. ],
       [   18. ,     8. ,   318. ,   150. ,  3436. ,    11. ,    70. ,
            1. , -1000. ]])

In [199]:
data2 = np.genfromtxt('https://raw.githubusercontent.com/selva86/datasets/master/Auto.csv', delimiter=',', skip_header=1, dtype= None)
data2[:3]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: VisibleDeprecationWarning: Reading unicode strings without specifying the encoding argument is deprecated. Set the encoding, use None for the system default.
  """Entry point for launching an IPython kernel.

array([(18., 8, 307., 130, 3504, 12. , 70, 1, b'"chevrolet chevelle malibu"'),
       (15., 8, 350., 165, 3693, 11.5, 70, 1, b'"buick skylark 320"'),
       (18., 8, 318., 150, 3436, 11. , 70, 1, b'"plymouth satellite"')],
      dtype=[('f0', '<f8'), ('f1', '<i4'), ('f2', '<f8'), ('f3', '<i4'), ('f4', '<i4'), ('f5', '<f8'), ('f6', '<i4'), ('f7', '<i4'), ('f8', 'S38')])

In [200]:
np.savetxt('data.csv', data, delimiter=',')

In [201]:
data

array([[   18.,     8.,   307., ...,    70.,     1., -1000.],
       [   15.,     8.,   350., ...,    70.,     1., -1000.],
       [   18.,     8.,   318., ...,    70.,     1., -1000.],
       ...,
       [   32.,     4.,   135., ...,    82.,     1., -1000.],
       [   28.,     4.,   120., ...,    82.,     1., -1000.],
       [   31.,     4.,   119., ...,    82.,     1., -1000.]])

In [202]:
np.save('data.npy', data)

In [203]:
np.savez('data2.npz', data, data2)

In [204]:
d = np.load('data.npy')
d

array([[   18.,     8.,   307., ...,    70.,     1., -1000.],
       [   15.,     8.,   350., ...,    70.,     1., -1000.],
       [   18.,     8.,   318., ...,    70.,     1., -1000.],
       ...,
       [   32.,     4.,   135., ...,    82.,     1., -1000.],
       [   28.,     4.,   120., ...,    82.,     1., -1000.],
       [   31.,     4.,   119., ...,    82.,     1., -1000.]])

In [206]:
d2 = np.load('data2.npz')

In [208]:
d2.files

['arr_0', 'arr_1']

In [210]:
d2['arr_1']

array([(18. , 8, 307. , 130, 3504, 12. , 70, 1, b'"chevrolet chevelle malibu"'),
       (15. , 8, 350. , 165, 3693, 11.5, 70, 1, b'"buick skylark 320"'),
       (18. , 8, 318. , 150, 3436, 11. , 70, 1, b'"plymouth satellite"'),
       (16. , 8, 304. , 150, 3433, 12. , 70, 1, b'"amc rebel sst"'),
       (17. , 8, 302. , 140, 3449, 10.5, 70, 1, b'"ford torino"'),
       (15. , 8, 429. , 198, 4341, 10. , 70, 1, b'"ford galaxie 500"'),
       (14. , 8, 454. , 220, 4354,  9. , 70, 1, b'"chevrolet impala"'),
       (14. , 8, 440. , 215, 4312,  8.5, 70, 1, b'"plymouth fury iii"'),
       (14. , 8, 455. , 225, 4425, 10. , 70, 1, b'"pontiac catalina"'),
       (15. , 8, 390. , 190, 3850,  8.5, 70, 1, b'"amc ambassador dpl"'),
       (15. , 8, 383. , 170, 3563, 10. , 70, 1, b'"dodge challenger se"'),
       (14. , 8, 340. , 160, 3609,  8. , 70, 1, b'"plymouth \'cuda 340"'),
       (15. , 8, 400. , 150, 3761,  9.5, 70, 1, b'"chevrolet monte carlo"'),
       (14. , 8, 455. , 225, 3086, 10. , 70, 1, b'"buick estate wagon (sw)"'),
       (24. , 4, 113. ,  95, 2372, 15. , 70, 3, b'"toyota corona mark ii"'),
       (22. , 6, 198. ,  95, 2833, 15.5, 70, 1, b'"plymouth duster"'),
       (18. , 6, 199. ,  97, 2774, 15.5, 70, 1, b'"amc hornet"'),
       (21. , 6, 200. ,  85, 2587, 16. , 70, 1, b'"ford maverick"'),
       (27. , 4,  97. ,  88, 2130, 14.5, 70, 3, b'"datsun pl510"'),
       (26. , 4,  97. ,  46, 1835, 20.5, 70, 2, b'"volkswagen 1131 deluxe sedan"'),
       (25. , 4, 110. ,  87, 2672, 17.5, 70, 2, b'"peugeot 504"'),
       (24. , 4, 107. ,  90, 2430, 14.5, 70, 2, b'"audi 100 ls"'),
       (25. , 4, 104. ,  95, 2375, 17.5, 70, 2, b'"saab 99e"'),
       (26. , 4, 121. , 113, 2234, 12.5, 70, 2, b'"bmw 2002"'),
       (21. , 6, 199. ,  90, 2648, 15. , 70, 1, b'"amc gremlin"'),
       (10. , 8, 360. , 215, 4615, 14. , 70, 1, b'"ford f250"'),
       (10. , 8, 307. , 200, 4376, 15. , 70, 1, b'"chevy c20"'),
       (11. , 8, 318. , 210, 4382, 13.5, 70, 1, b'"dodge d200"'),
       ( 9. , 8, 304. , 193, 4732, 18.5, 70, 1, b'"hi 1200d"'),
       (27. , 4,  97. ,  88, 2130, 14.5, 71, 3, b'"datsun pl510"'),
       (28. , 4, 140. ,  90, 2264, 15.5, 71, 1, b'"chevrolet vega 2300"'),
       (25. , 4, 113. ,  95, 2228, 14. , 71, 3, b'"toyota corona"'),
       (19. , 6, 232. , 100, 2634, 13. , 71, 1, b'"amc gremlin"'),
       (16. , 6, 225. , 105, 3439, 15.5, 71, 1, b'"plymouth satellite custom"'),
       (17. , 6, 250. , 100, 3329, 15.5, 71, 1, b'"chevrolet chevelle malibu"'),
       (19. , 6, 250. ,  88, 3302, 15.5, 71, 1, b'"ford torino 500"'),
       (18. , 6, 232. , 100, 3288, 15.5, 71, 1, b'"amc matador"'),
       (14. , 8, 350. , 165, 4209, 12. , 71, 1, b'"chevrolet impala"'),
       (14. , 8, 400. , 175, 4464, 11.5, 71, 1, b'"pontiac catalina brougham"'),
       (14. , 8, 351. , 153, 4154, 13.5, 71, 1, b'"ford galaxie 500"'),
       (14. , 8, 318. , 150, 4096, 13. , 71, 1, b'"plymouth fury iii"'),
       (12. , 8, 383. , 180, 4955, 11.5, 71, 1, b'"dodge monaco (sw)"'),
       (13. , 8, 400. , 170, 4746, 12. , 71, 1, b'"ford country squire (sw)"'),
       (13. , 8, 400. , 175, 5140, 12. , 71, 1, b'"pontiac safari (sw)"'),
       (18. , 6, 258. , 110, 2962, 13.5, 71, 1, b'"amc hornet sportabout (sw)"'),
       (22. , 4, 140. ,  72, 2408, 19. , 71, 1, b'"chevrolet vega (sw)"'),
       (19. , 6, 250. , 100, 3282, 15. , 71, 1, b'"pontiac firebird"'),
       (18. , 6, 250. ,  88, 3139, 14.5, 71, 1, b'"ford mustang"'),
       (23. , 4, 122. ,  86, 2220, 14. , 71, 1, b'"mercury capri 2000"'),
       (28. , 4, 116. ,  90, 2123, 14. , 71, 2, b'"opel 1900"'),
       (30. , 4,  79. ,  70, 2074, 19.5, 71, 2, b'"peugeot 304"'),
       (30. , 4,  88. ,  76, 2065, 14.5, 71, 2, b'"fiat 124b"'),
       (31. , 4,  71. ,  65, 1773, 19. , 71, 3, b'"toyota corolla 1200"'),
       (35. , 4,  72. ,  69, 1613, 18. , 71, 3, b'"datsun 1200"'),
       (27. , 4,  97. ,  60, 1834, 19. , 71, 2, b'"volkswagen model 111"'),
       (26. , 4,  91. ,  70, 1955, 20.5, 71, 1, b'"plymouth cricket"'),
       (24. , 4, 113. ,  95, 2278, 15.5, 72, 3, b'"toyota corona hardtop"'),
       (25. , 4,  97.5,  80, 2126, 17. , 72, 1, b'"dodge colt hardtop"'),
       (23. , 4,  97. ,  54, 2254, 23.5, 72, 2, b'"volkswagen type 3"'),
       (20. , 4, 140. ,  90, 2408, 19.5, 72, 1, b'"chevrolet vega"'),
       (21. , 4, 122. ,  86, 2226, 16.5, 72, 1, b'"ford pinto runabout"'),
       (13. , 8, 350. , 165, 4274, 12. , 72, 1, b'"chevrolet impala"'),
       (14. , 8, 400. , 175, 4385, 12. , 72, 1, b'"pontiac catalina"'),
       (15. , 8, 318. , 150, 4135, 13.5, 72, 1, b'"plymouth fury iii"'),
       (14. , 8, 351. , 153, 4129, 13. , 72, 1, b'"ford galaxie 500"'),
       (17. , 8, 304. , 150, 3672, 11.5, 72, 1, b'"amc ambassador sst"'),
       (11. , 8, 429. , 208, 4633, 11. , 72, 1, b'"mercury marquis"'),
       (13. , 8, 350. , 155, 4502, 13.5, 72, 1, b'"buick lesabre custom"'),
       (12. , 8, 350. , 160, 4456, 13.5, 72, 1, b'"oldsmobile delta 88 royale"'),
       (13. , 8, 400. , 190, 4422, 12.5, 72, 1, b'"chrysler newport royal"'),
       (19. , 3,  70. ,  97, 2330, 13.5, 72, 3, b'"mazda rx2 coupe"'),
       (15. , 8, 304. , 150, 3892, 12.5, 72, 1, b'"amc matador (sw)"'),
       (13. , 8, 307. , 130, 4098, 14. , 72, 1, b'"chevrolet chevelle concours (sw)"'),
       (13. , 8, 302. , 140, 4294, 16. , 72, 1, b'"ford gran torino (sw)"'),
       (14. , 8, 318. , 150, 4077, 14. , 72, 1, b'"plymouth satellite custom (sw)"'),
       (18. , 4, 121. , 112, 2933, 14.5, 72, 2, b'"volvo 145e (sw)"'),
       (22. , 4, 121. ,  76, 2511, 18. , 72, 2, b'"volkswagen 411 (sw)"'),
       (21. , 4, 120. ,  87, 2979, 19.5, 72, 2, b'"peugeot 504 (sw)"'),
       (26. , 4,  96. ,  69, 2189, 18. , 72, 2, b'"renault 12 (sw)"'),
       (22. , 4, 122. ,  86, 2395, 16. , 72, 1, b'"ford pinto (sw)"'),
       (28. , 4,  97. ,  92, 2288, 17. , 72, 3, b'"datsun 510 (sw)"'),
       (23. , 4, 120. ,  97, 2506, 14.5, 72, 3, b'"toyouta corona mark ii (sw)"'),
       (28. , 4,  98. ,  80, 2164, 15. , 72, 1, b'"dodge colt (sw)"'),
       (27. , 4,  97. ,  88, 2100, 16.5, 72, 3, b'"toyota corolla 1600 (sw)"'),
       (13. , 8, 350. , 175, 4100, 13. , 73, 1, b'"buick century 350"'),
       (14. , 8, 304. , 150, 3672, 11.5, 73, 1, b'"amc matador"'),
       (13. , 8, 350. , 145, 3988, 13. , 73, 1, b'"chevrolet malibu"'),
       (14. , 8, 302. , 137, 4042, 14.5, 73, 1, b'"ford gran torino"'),
       (15. , 8, 318. , 150, 3777, 12.5, 73, 1, b'"dodge coronet custom"'),
       (12. , 8, 429. , 198, 4952, 11.5, 73, 1, b'"mercury marquis brougham"'),
       (13. , 8, 400. , 150, 4464, 12. , 73, 1, b'"chevrolet caprice classic"'),
       (13. , 8, 351. , 158, 4363, 13. , 73, 1, b'"ford ltd"'),
       (14. , 8, 318. , 150, 4237, 14.5, 73, 1, b'"plymouth fury gran sedan"'),
       (13. , 8, 440. , 215, 4735, 11. , 73, 1, b'"chrysler new yorker brougham"'),
       (12. , 8, 455. , 225, 4951, 11. , 73, 1, b'"buick electra 225 custom"'),
       (13. , 8, 360. , 175, 3821, 11. , 73, 1, b'"amc ambassador brougham"'),
       (18. , 6, 225. , 105, 3121, 16.5, 73, 1, b'"plymouth valiant"'),
       (16. , 6, 250. , 100, 3278, 18. , 73, 1, b'"chevrolet nova custom"'),
       (18. , 6, 232. , 100, 2945, 16. , 73, 1, b'"amc hornet"'),
       (18. , 6, 250. ,  88, 3021, 16.5, 73, 1, b'"ford maverick"'),
       (23. , 6, 198. ,  95, 2904, 16. , 73, 1, b'"plymouth duster"'),
       (26. , 4,  97. ,  46, 1950, 21. , 73, 2, b'"volkswagen super beetle"'),
       (11. , 8, 400. , 150, 4997, 14. , 73, 1, b'"chevrolet impala"'),
       (12. , 8, 400. , 167, 4906, 12.5, 73, 1, b'"ford country"'),
       (13. , 8, 360. , 170, 4654, 13. , 73, 1, b'"plymouth custom suburb"'),
       (12. , 8, 350. , 180, 4499, 12.5, 73, 1, b'"oldsmobile vista cruiser"'),
       (18. , 6, 232. , 100, 2789, 15. , 73, 1, b'"amc gremlin"'),
       (20. , 4,  97. ,  88, 2279, 19. , 73, 3, b'"toyota carina"'),
       (21. , 4, 140. ,  72, 2401, 19.5, 73, 1, b'"chevrolet vega"'),
       (22. , 4, 108. ,  94, 2379, 16.5, 73, 3, b'"datsun 610"'),
       (18. , 3,  70. ,  90, 2124, 13.5, 73, 3, b'"maxda rx3"'),
       (19. , 4, 122. ,  85, 2310, 18.5, 73, 1, b'"ford pinto"'),
       (21. , 6, 155. , 107, 2472, 14. , 73, 1, b'"mercury capri v6"'),
       (26. , 4,  98. ,  90, 2265, 15.5, 73, 2, b'"fiat 124 sport coupe"'),
       (15. , 8, 350. , 145, 4082, 13. , 73, 1, b'"chevrolet monte carlo s"'),
       (16. , 8, 400. , 230, 4278,  9.5, 73, 1, b'"pontiac grand prix"'),
       (29. , 4,  68. ,  49, 1867, 19.5, 73, 2, b'"fiat 128"'),
       (24. , 4, 116. ,  75, 2158, 15.5, 73, 2, b'"opel manta"'),
       (20. , 4, 114. ,  91, 2582, 14. , 73, 2, b'"audi 100ls"'),
       (19. , 4, 121. , 112, 2868, 15.5, 73, 2, b'"volvo 144ea"'),
       (15. , 8, 318. , 150, 3399, 11. , 73, 1, b'"dodge dart custom"'),
       (24. , 4, 121. , 110, 2660, 14. , 73, 2, b'"saab 99le"'),
       (20. , 6, 156. , 122, 2807, 13.5, 73, 3, b'"toyota mark ii"'),
       (11. , 8, 350. , 180, 3664, 11. , 73, 1, b'"oldsmobile omega"'),
       (20. , 6, 198. ,  95, 3102, 16.5, 74, 1, b'"plymouth duster"'),
       (19. , 6, 232. , 100, 2901, 16. , 74, 1, b'"amc hornet"'),
       (15. , 6, 250. , 100, 3336, 17. , 74, 1, b'"chevrolet nova"'),
       (31. , 4,  79. ,  67, 1950, 19. , 74, 3, b'"datsun b210"'),
       (26. , 4, 122. ,  80, 2451, 16.5, 74, 1, b'"ford pinto"'),
       (32. , 4,  71. ,  65, 1836, 21. , 74, 3, b'"toyota corolla 1200"'),
       (25. , 4, 140. ,  75, 2542, 17. , 74, 1, b'"chevrolet vega"'),
       (16. , 6, 250. , 100, 3781, 17. , 74, 1, b'"chevrolet chevelle malibu classic"'),
       (16. , 6, 258. , 110, 3632, 18. , 74, 1, b'"amc matador"'),
       (18. , 6, 225. , 105, 3613, 16.5, 74, 1, b'"plymouth satellite sebring"'),
       (16. , 8, 302. , 140, 4141, 14. , 74, 1, b'"ford gran torino"'),
       (13. , 8, 350. , 150, 4699, 14.5, 74, 1, b'"buick century luxus (sw)"'),
       (14. , 8, 318. , 150, 4457, 13.5, 74, 1, b'"dodge coronet custom (sw)"'),
       (14. , 8, 302. , 140, 4638, 16. , 74, 1, b'"ford gran torino (sw)"'),
       (14. , 8, 304. , 150, 4257, 15.5, 74, 1, b'"amc matador (sw)"'),
       (29. , 4,  98. ,  83, 2219, 16.5, 74, 2, b'"audi fox"'),
       (26. , 4,  79. ,  67, 1963, 15.5, 74, 2, b'"volkswagen dasher"'),
       (26. , 4,  97. ,  78, 2300, 14.5, 74, 2, b'"opel manta"'),
       (31. , 4,  76. ,  52, 1649, 16.5, 74, 3, b'"toyota corona"'),
       (32. , 4,  83. ,  61, 2003, 19. , 74, 3, b'"datsun 710"'),
       (28. , 4,  90. ,  75, 2125, 14.5, 74, 1, b'"dodge colt"'),
       (24. , 4,  90. ,  75, 2108, 15.5, 74, 2, b'"fiat 128"'),
       (26. , 4, 116. ,  75, 2246, 14. , 74, 2, b'"fiat 124 tc"'),
       (24. , 4, 120. ,  97, 2489, 15. , 74, 3, b'"honda civic"'),
       (26. , 4, 108. ,  93, 2391, 15.5, 74, 3, b'"subaru"'),
       (31. , 4,  79. ,  67, 2000, 16. , 74, 2, b'"fiat x1.9"'),
       (19. , 6, 225. ,  95, 3264, 16. , 75, 1, b'"plymouth valiant custom"'),
       (18. , 6, 250. , 105, 3459, 16. , 75, 1, b'"chevrolet nova"'),
       (15. , 6, 250. ,  72, 3432, 21. , 75, 1, b'"mercury monarch"'),
       (15. , 6, 250. ,  72, 3158, 19.5, 75, 1, b'"ford maverick"'),
       (16. , 8, 400. , 170, 4668, 11.5, 75, 1, b'"pontiac catalina"'),
       (15. , 8, 350. , 145, 4440, 14. , 75, 1, b'"chevrolet bel air"'),
       (16. , 8, 318. , 150, 4498, 14.5, 75, 1, b'"plymouth grand fury"'),
       (14. , 8, 351. , 148, 4657, 13.5, 75, 1, b'"ford ltd"'),
       (17. , 6, 231. , 110, 3907, 21. , 75, 1, b'"buick century"'),
       (16. , 6, 250. , 105, 3897, 18.5, 75, 1, b'"chevroelt chevelle malibu"'),
       (15. , 6, 258. , 110, 3730, 19. , 75, 1, b'"amc matador"'),
       (18. , 6, 225. ,  95, 3785, 19. , 75, 1, b'"plymouth fury"'),
       (21. , 6, 231. , 110, 3039, 15. , 75, 1, b'"buick skyhawk"'),
       (20. , 8, 262. , 110, 3221, 13.5, 75, 1, b'"chevrolet monza 2+2"'),
       (13. , 8, 302. , 129, 3169, 12. , 75, 1, b'"ford mustang ii"'),
       (29. , 4,  97. ,  75, 2171, 16. , 75, 3, b'"toyota corolla"'),
       (23. , 4, 140. ,  83, 2639, 17. , 75, 1, b'"ford pinto"'),
       (20. , 6, 232. , 100, 2914, 16. , 75, 1, b'"amc gremlin"'),
       (23. , 4, 140. ,  78, 2592, 18.5, 75, 1, b'"pontiac astro"'),
       (24. , 4, 134. ,  96, 2702, 13.5, 75, 3, b'"toyota corona"'),
       (25. , 4,  90. ,  71, 2223, 16.5, 75, 2, b'"volkswagen dasher"'),
       (24. , 4, 119. ,  97, 2545, 17. , 75, 3, b'"datsun 710"'),
       (18. , 6, 171. ,  97, 2984, 14.5, 75, 1, b'"ford pinto"'),
       (29. , 4,  90. ,  70, 1937, 14. , 75, 2, b'"volkswagen rabbit"'),
       (19. , 6, 232. ,  90, 3211, 17. , 75, 1, b'"amc pacer"'),
       (23. , 4, 115. ,  95, 2694, 15. , 75, 2, b'"audi 100ls"'),
       (23. , 4, 120. ,  88, 2957, 17. , 75, 2, b'"peugeot 504"'),
       (22. , 4, 121. ,  98, 2945, 14.5, 75, 2, b'"volvo 244dl"'),
       (25. , 4, 121. , 115, 2671, 13.5, 75, 2, b'"saab 99le"'),
       (33. , 4,  91. ,  53, 1795, 17.5, 75, 3, b'"honda civic cvcc"'),
       (28. , 4, 107. ,  86, 2464, 15.5, 76, 2, b'"fiat 131"'),
       (25. , 4, 116. ,  81, 2220, 16.9, 76, 2, b'"opel 1900"'),
       (25. , 4, 140. ,  92, 2572, 14.9, 76, 1, b'"capri ii"'),
       (26. , 4,  98. ,  79, 2255, 17.7, 76, 1, b'"dodge colt"'),
       (27. , 4, 101. ,  83, 2202, 15.3, 76, 2, b'"renault 12tl"'),
       (17.5, 8, 305. , 140, 4215, 13. , 76, 1, b'"chevrolet chevelle malibu classic"'),
       (16. , 8, 318. , 150, 4190, 13. , 76, 1, b'"dodge coronet brougham"'),
       (15.5, 8, 304. , 120, 3962, 13.9, 76, 1, b'"amc matador"'),
       (14.5, 8, 351. , 152, 4215, 12.8, 76, 1, b'"ford gran torino"'),
       (22. , 6, 225. , 100, 3233, 15.4, 76, 1, b'"plymouth valiant"'),
       (22. , 6, 250. , 105, 3353, 14.5, 76, 1, b'"chevrolet nova"'),
       (24. , 6, 200. ,  81, 3012, 17.6, 76, 1, b'"ford maverick"'),
       (22.5, 6, 232. ,  90, 3085, 17.6, 76, 1, b'"amc hornet"'),
       (29. , 4,  85. ,  52, 2035, 22.2, 76, 1, b'"chevrolet chevette"'),
       (24.5, 4,  98. ,  60, 2164, 22.1, 76, 1, b'"chevrolet woody"'),
       (29. , 4,  90. ,  70, 1937, 14.2, 76, 2, b'"vw rabbit"'),
       (33. , 4,  91. ,  53, 1795, 17.4, 76, 3, b'"honda civic"'),
       (20. , 6, 225. , 100, 3651, 17.7, 76, 1, b'"dodge aspen se"'),
       (18. , 6, 250. ,  78, 3574, 21. , 76, 1, b'"ford granada ghia"'),
       (18.5, 6, 250. , 110, 3645, 16.2, 76, 1, b'"pontiac ventura sj"'),
       (17.5, 6, 258. ,  95, 3193, 17.8, 76, 1, b'"amc pacer d/l"'),
       (29.5, 4,  97. ,  71, 1825, 12.2, 76, 2, b'"volkswagen rabbit"'),
       (32. , 4,  85. ,  70, 1990, 17. , 76, 3, b'"datsun b-210"'),
       (28. , 4,  97. ,  75, 2155, 16.4, 76, 3, b'"toyota corolla"'),
       (26.5, 4, 140. ,  72, 2565, 13.6, 76, 1, b'"ford pinto"'),
       (20. , 4, 130. , 102, 3150, 15.7, 76, 2, b'"volvo 245"'),
       (13. , 8, 318. , 150, 3940, 13.2, 76, 1, b'"plymouth volare premier v8"'),
       (19. , 4, 120. ,  88, 3270, 21.9, 76, 2, b'"peugeot 504"'),
       (19. , 6, 156. , 108, 2930, 15.5, 76, 3, b'"toyota mark ii"'),
       (16.5, 6, 168. , 120, 3820, 16.7, 76, 2, b'"mercedes-benz 280s"'),
       (16.5, 8, 350. , 180, 4380, 12.1, 76, 1, b'"cadillac seville"'),
       (13. , 8, 350. , 145, 4055, 12. , 76, 1, b'"chevy c10"'),
       (13. , 8, 302. , 130, 3870, 15. , 76, 1, b'"ford f108"'),
       (13. , 8, 318. , 150, 3755, 14. , 76, 1, b'"dodge d100"'),
       (31.5, 4,  98. ,  68, 2045, 18.5, 77, 3, b'"honda accord cvcc"'),
       (30. , 4, 111. ,  80, 2155, 14.8, 77, 1, b'"buick opel isuzu deluxe"'),
       (36. , 4,  79. ,  58, 1825, 18.6, 77, 2, b'"renault 5 gtl"'),
       (25.5, 4, 122. ,  96, 2300, 15.5, 77, 1, b'"plymouth arrow gs"'),
       (33.5, 4,  85. ,  70, 1945, 16.8, 77, 3, b'"datsun f-10 hatchback"'),
       (17.5, 8, 305. , 145, 3880, 12.5, 77, 1, b'"chevrolet caprice classic"'),
       (17. , 8, 260. , 110, 4060, 19. , 77, 1, b'"oldsmobile cutlass supreme"'),
       (15.5, 8, 318. , 145, 4140, 13.7, 77, 1, b'"dodge monaco brougham"'),
       (15. , 8, 302. , 130, 4295, 14.9, 77, 1, b'"mercury cougar brougham"'),
       (17.5, 6, 250. , 110, 3520, 16.4, 77, 1, b'"chevrolet concours"'),
       (20.5, 6, 231. , 105, 3425, 16.9, 77, 1, b'"buick skylark"'),
       (19. , 6, 225. , 100, 3630, 17.7, 77, 1, b'"plymouth volare custom"'),
       (18.5, 6, 250. ,  98, 3525, 19. , 77, 1, b'"ford granada"'),
       (16. , 8, 400. , 180, 4220, 11.1, 77, 1, b'"pontiac grand prix lj"'),
       (15.5, 8, 350. , 170, 4165, 11.4, 77, 1, b'"chevrolet monte carlo landau"'),
       (15.5, 8, 400. , 190, 4325, 12.2, 77, 1, b'"chrysler cordoba"'),
       (16. , 8, 351. , 149, 4335, 14.5, 77, 1, b'"ford thunderbird"'),
       (29. , 4,  97. ,  78, 1940, 14.5, 77, 2, b'"volkswagen rabbit custom"'),
       (24.5, 4, 151. ,  88, 2740, 16. , 77, 1, b'"pontiac sunbird coupe"'),
       (26. , 4,  97. ,  75, 2265, 18.2, 77, 3, b'"toyota corolla liftback"'),
       (25.5, 4, 140. ,  89, 2755, 15.8, 77, 1, b'"ford mustang ii 2+2"'),
       (30.5, 4,  98. ,  63, 2051, 17. , 77, 1, b'"chevrolet chevette"'),
       (33.5, 4,  98. ,  83, 2075, 15.9, 77, 1, b'"dodge colt m/m"'),
       (30. , 4,  97. ,  67, 1985, 16.4, 77, 3, b'"subaru dl"'),
       (30.5, 4,  97. ,  78, 2190, 14.1, 77, 2, b'"volkswagen dasher"'),
       (22. , 6, 146. ,  97, 2815, 14.5, 77, 3, b'"datsun 810"'),
       (21.5, 4, 121. , 110, 2600, 12.8, 77, 2, b'"bmw 320i"'),
       (21.5, 3,  80. , 110, 2720, 13.5, 77, 3, b'"mazda rx-4"'),
       (43.1, 4,  90. ,  48, 1985, 21.5, 78, 2, b'"volkswagen rabbit custom diesel"'),
       (36.1, 4,  98. ,  66, 1800, 14.4, 78, 1, b'"ford fiesta"'),
       (32.8, 4,  78. ,  52, 1985, 19.4, 78, 3, b'"mazda glc deluxe"'),
       (39.4, 4,  85. ,  70, 2070, 18.6, 78, 3, b'"datsun b210 gx"'),
       (36.1, 4,  91. ,  60, 1800, 16.4, 78, 3, b'"honda civic cvcc"'),
       (19.9, 8, 260. , 110, 3365, 15.5, 78, 1, b'"oldsmobile cutlass salon brougham"'),
       (19.4, 8, 318. , 140, 3735, 13.2, 78, 1, b'"dodge diplomat"'),
       (20.2, 8, 302. , 139, 3570, 12.8, 78, 1, b'"mercury monarch ghia"'),
       (19.2, 6, 231. , 105, 3535, 19.2, 78, 1, b'"pontiac phoenix lj"'),
       (20.5, 6, 200. ,  95, 3155, 18.2, 78, 1, b'"chevrolet malibu"'),
       (20.2, 6, 200. ,  85, 2965, 15.8, 78, 1, b'"ford fairmont (auto)"'),
       (25.1, 4, 140. ,  88, 2720, 15.4, 78, 1, b'"ford fairmont (man)"'),
       (20.5, 6, 225. , 100, 3430, 17.2, 78, 1, b'"plymouth volare"'),
       (19.4, 6, 232. ,  90, 3210, 17.2, 78, 1, b'"amc concord"'),
       (20.6, 6, 231. , 105, 3380, 15.8, 78, 1, b'"buick century special"'),
       (20.8, 6, 200. ,  85, 3070, 16.7, 78, 1, b'"mercury zephyr"'),
       (18.6, 6, 225. , 110, 3620, 18.7, 78, 1, b'"dodge aspen"'),
       (18.1, 6, 258. , 120, 3410, 15.1, 78, 1, b'"amc concord d/l"'),
       (19.2, 8, 305. , 145, 3425, 13.2, 78, 1, b'"chevrolet monte carlo landau"'),
       (17.7, 6, 231. , 165, 3445, 13.4, 78, 1, b'"buick regal sport coupe (turbo)"'),
       (18.1, 8, 302. , 139, 3205, 11.2, 78, 1, b'"ford futura"'),
       (17.5, 8, 318. , 140, 4080, 13.7, 78, 1, b'"dodge magnum xe"'),
       (30. , 4,  98. ,  68, 2155, 16.5, 78, 1, b'"chevrolet chevette"'),
       (27.5, 4, 134. ,  95, 2560, 14.2, 78, 3, b'"toyota corona"'),
       (27.2, 4, 119. ,  97, 2300, 14.7, 78, 3, b'"datsun 510"'),
       (30.9, 4, 105. ,  75, 2230, 14.5, 78, 1, b'"dodge omni"'),
       (21.1, 4, 134. ,  95, 2515, 14.8, 78, 3, b'"toyota celica gt liftback"'),
       (23.2, 4, 156. , 105, 2745, 16.7, 78, 1, b'"plymouth sapporo"'),
       (23.8, 4, 151. ,  85, 2855, 17.6, 78, 1, b'"oldsmobile starfire sx"'),
       (23.9, 4, 119. ,  97, 2405, 14.9, 78, 3, b'"datsun 200-sx"'),
       (20.3, 5, 131. , 103, 2830, 15.9, 78, 2, b'"audi 5000"'),
       (17. , 6, 163. , 125, 3140, 13.6, 78, 2, b'"volvo 264gl"'),
       (21.6, 4, 121. , 115, 2795, 15.7, 78, 2, b'"saab 99gle"'),
       (16.2, 6, 163. , 133, 3410, 15.8, 78, 2, b'"peugeot 604sl"'),
       (31.5, 4,  89. ,  71, 1990, 14.9, 78, 2, b'"volkswagen scirocco"'),

##  concat with row and col wise

In [211]:
arr1 = np.zeros([4, 4])
arr2 = np.ones([4, 4])

In [212]:
arr1

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [213]:
arr2

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [214]:
#np.concatenate, np.vstack, np.r_

In [219]:
np.concatenate([arr1, arr2], axis = 0)
np.vstack([arr1, arr2])
np.r_[arr1, arr2]

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [220]:
np.concatenate([arr1, arr2], axis = 1)

array([[0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.]])

In [221]:
np.hstack([arr1, arr2])

array([[0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.]])

In [222]:
np.c_[arr1, arr2]

array([[0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.]])

## sort a numpy array

In [223]:
arr = np.random.randint(1, 10, size = [10, 5])

In [224]:
arr

array([[3, 5, 6, 3, 5],
       [3, 5, 8, 8, 2],
       [8, 1, 7, 8, 7],
       [2, 1, 2, 9, 9],
       [4, 9, 8, 4, 7],
       [6, 2, 4, 5, 9],
       [2, 5, 1, 4, 3],
       [1, 5, 3, 8, 8],
       [9, 7, 4, 8, 8],
       [5, 6, 4, 7, 9]])

In [226]:
np.sort(arr, axis = 0)

array([[1, 1, 1, 3, 2],
       [2, 1, 2, 4, 3],
       [2, 2, 3, 4, 5],
       [3, 5, 4, 5, 7],
       [3, 5, 4, 7, 7],
       [4, 5, 4, 8, 8],
       [5, 5, 6, 8, 8],
       [6, 6, 7, 8, 9],
       [8, 7, 8, 8, 9],
       [9, 9, 8, 9, 9]])

In [230]:
sorted_index = arr[:, 0].argsort()

In [231]:
arr[sorted_index]

array([[1, 5, 3, 8, 8],
       [2, 1, 2, 9, 9],
       [2, 5, 1, 4, 3],
       [3, 5, 6, 3, 5],
       [3, 5, 8, 8, 2],
       [4, 9, 8, 4, 7],
       [5, 6, 4, 7, 9],
       [6, 2, 4, 5, 9],
       [8, 1, 7, 8, 7],
       [9, 7, 4, 8, 8]])

In [232]:
arr

array([[3, 5, 6, 3, 5],
       [3, 5, 8, 8, 2],
       [8, 1, 7, 8, 7],
       [2, 1, 2, 9, 9],
       [4, 9, 8, 4, 7],
       [6, 2, 4, 5, 9],
       [2, 5, 1, 4, 3],
       [1, 5, 3, 8, 8],
       [9, 7, 4, 8, 8],
       [5, 6, 4, 7, 9]])

# working with dates

In [235]:
d = np.datetime64('2019-06-02 23:10:00')

In [236]:
d

numpy.datetime64('2019-06-02T23:10:00')

In [240]:
d + 1000

numpy.datetime64('2019-06-02T23:26:40')

In [241]:
16*60+40

1000

In [243]:
oneday = np.timedelta64(1, 'D')

In [244]:
oneday

numpy.timedelta64(1,'D')

In [245]:
d + oneday

numpy.datetime64('2019-06-03T23:10:00')

In [246]:
oneminute = np.timedelta64(1, 'm')

In [247]:
d + oneminute

numpy.datetime64('2019-06-02T23:11:00')

In [249]:
dates = np.arange(np.datetime64('2019-06-02'), np.datetime64('2020-06-02'), 2)
dates

array(['2019-06-02', '2019-06-04', '2019-06-06', '2019-06-08',
       '2019-06-10', '2019-06-12', '2019-06-14', '2019-06-16',
       '2019-06-18', '2019-06-20', '2019-06-22', '2019-06-24',
       '2019-06-26', '2019-06-28', '2019-06-30', '2019-07-02',
       '2019-07-04', '2019-07-06', '2019-07-08', '2019-07-10',
       '2019-07-12', '2019-07-14', '2019-07-16', '2019-07-18',
       '2019-07-20', '2019-07-22', '2019-07-24', '2019-07-26',
       '2019-07-28', '2019-07-30', '2019-08-01', '2019-08-03',
       '2019-08-05', '2019-08-07', '2019-08-09', '2019-08-11',
       '2019-08-13', '2019-08-15', '2019-08-17', '2019-08-19',
       '2019-08-21', '2019-08-23', '2019-08-25', '2019-08-27',
       '2019-08-29', '2019-08-31', '2019-09-02', '2019-09-04',
       '2019-09-06', '2019-09-08', '2019-09-10', '2019-09-12',
       '2019-09-14', '2019-09-16', '2019-09-18', '2019-09-20',
       '2019-09-22', '2019-09-24', '2019-09-26', '2019-09-28',
       '2019-09-30', '2019-10-02', '2019-10-04', '2019-10-06',
       '2019-10-08', '2019-10-10', '2019-10-12', '2019-10-14',
       '2019-10-16', '2019-10-18', '2019-10-20', '2019-10-22',
       '2019-10-24', '2019-10-26', '2019-10-28', '2019-10-30',
       '2019-11-01', '2019-11-03', '2019-11-05', '2019-11-07',
       '2019-11-09', '2019-11-11', '2019-11-13', '2019-11-15',
       '2019-11-17', '2019-11-19', '2019-11-21', '2019-11-23',
       '2019-11-25', '2019-11-27', '2019-11-29', '2019-12-01',
       '2019-12-03', '2019-12-05', '2019-12-07', '2019-12-09',
       '2019-12-11', '2019-12-13', '2019-12-15', '2019-12-17',
       '2019-12-19', '2019-12-21', '2019-12-23', '2019-12-25',
       '2019-12-27', '2019-12-29', '2019-12-31', '2020-01-02',
       '2020-01-04', '2020-01-06', '2020-01-08', '2020-01-10',
       '2020-01-12', '2020-01-14', '2020-01-16', '2020-01-18',
       '2020-01-20', '2020-01-22', '2020-01-24', '2020-01-26',
       '2020-01-28', '2020-01-30', '2020-02-01', '2020-02-03',
       '2020-02-05', '2020-02-07', '2020-02-09', '2020-02-11',
       '2020-02-13', '2020-02-15', '2020-02-17', '2020-02-19',
       '2020-02-21', '2020-02-23', '2020-02-25', '2020-02-27',
       '2020-02-29', '2020-03-02', '2020-03-04', '2020-03-06',
       '2020-03-08', '2020-03-10', '2020-03-12', '2020-03-14',
       '2020-03-16', '2020-03-18', '2020-03-20', '2020-03-22',
       '2020-03-24', '2020-03-26', '2020-03-28', '2020-03-30',
       '2020-04-01', '2020-04-03', '2020-04-05', '2020-04-07',
       '2020-04-09', '2020-04-11', '2020-04-13', '2020-04-15',
       '2020-04-17', '2020-04-19', '2020-04-21', '2020-04-23',
       '2020-04-25', '2020-04-27', '2020-04-29', '2020-05-01',
       '2020-05-03', '2020-05-05', '2020-05-07', '2020-05-09',
       '2020-05-11', '2020-05-13', '2020-05-15', '2020-05-17',
       '2020-05-19', '2020-05-21', '2020-05-23', '2020-05-25',
       '2020-05-27', '2020-05-29', '2020-05-31'], dtype='datetime64[D]')

## Numpy Advanced Function

In [250]:
#vectorize()

In [252]:
def foo(x):
    if x%2 == 1:
        return x**2
    else:
        return x/2

foo(11)

121

In [253]:
foo_v = np.vectorize(foo, otypes=[float])

In [254]:
arr

array([[3, 5, 6, 3, 5],
       [3, 5, 8, 8, 2],
       [8, 1, 7, 8, 7],
       [2, 1, 2, 9, 9],
       [4, 9, 8, 4, 7],
       [6, 2, 4, 5, 9],
       [2, 5, 1, 4, 3],
       [1, 5, 3, 8, 8],
       [9, 7, 4, 8, 8],
       [5, 6, 4, 7, 9]])

In [255]:
foo_v(arr)

array([[ 9., 25.,  3.,  9., 25.],
       [ 9., 25.,  4.,  4.,  1.],
       [ 4.,  1., 49.,  4., 49.],
       [ 1.,  1.,  1., 81., 81.],
       [ 2., 81.,  4.,  2., 49.],
       [ 3.,  1.,  2., 25., 81.],
       [ 1., 25.,  1.,  2.,  9.],
       [ 1., 25.,  9.,  4.,  4.],
       [81., 49.,  2.,  4.,  4.],
       [25.,  3.,  2., 49., 81.]])